@font-face {
    font-family: 'Kanit';
    src: url('../../assets/fonts/Kanit/Kanit-Light.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    user-select: none;
};


