body {
    height: 100vh;
    background-color: #e4e2e2;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#container_title_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 10px;
}

#box_container_chat {
    background-color: #f8f8f8;
    min-height: 400px;
    min-width: 700px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 1px 1px 3px #33333333;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 10px;
}

.container_chat {
    height: 310px;
    overflow: auto;
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat_config {
    height: auto;
    max-width: 280px;
    text-align: left;
    border-radius: 5px;
    gap: 5px;
    font-size: .8rem;
}

.chat_config p {
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    padding: .5rem;
    hyphens: auto;
}

.chat_config p a {
    font-weight: bold;
    text-decoration: underline;
    color: #e4e2e2;    
}

.chat_bot {
    align-self: flex-start;
    background-color: rgb(57, 57, 248);
    margin-bottom: 5px;
    color: #e4e2e2;
    box-shadow: 1px 1px 5px #33333350;
}

.chat_user {
    align-self: flex-end;
    background-color: #e4e2e2;
    color: #0f0f0f;
    margin-top: 5px;
    transition: .5s;
    box-shadow: 1px 1px 5px #33333350;    
}


#cep_copy {
    user-select: all;
    cursor: pointer;
    text-decoration: underline;
}

::-webkit-scrollbar {
  display: none;
}

#container_send_message {
    display: flex;
    width: 100%;
    height: 40px;
}

#message_user {
    flex: 1.5;
    padding: 0 .5rem;
    border: 1px solid rgba(1, 1, 1, .30);
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

#container_send {
    flex: .2;
    background-color: rgba(68, 68, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    border-radius: 0px 5px 5px 0px;
}

#container_send:hover {
    background-color: rgba(68, 68, 255, .90);
}

#container_send.noSend {
    pointer-events: none;
    background-color: rgba(0, 0, 0, .30);
}

#icon_send_message {
    color: #e4e2e2;
}


